/* line 1, ../scss/base/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  border-radius: 0;
}

/* line 30, ../scss/base/_reset.scss */
input[type="submit"] {
  -webkit-appearance: none;
}

/* line 34, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../scss/base/_reset.scss */
body {
  line-height: 1;
}

/* line 43, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 47, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Utils */
/* line 1, ../scss/utils/_images.scss */
.full-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 8, ../scss/utils/_images.scss */
.full-image-parent {
  position: relative;
  overflow: hidden;
}

/* line 1, ../scss/utils/_widths.scss */
.xlarge-width {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* line 7, ../scss/utils/_widths.scss */
.large-width {
  position: relative;
  width: 1230px;
  margin: 0 auto;
}

/* line 13, ../scss/utils/_widths.scss */
.medium-width {
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

/* line 19, ../scss/utils/_widths.scss */
.small-width {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

/* line 25, ../scss/utils/_widths.scss */
.xsmall-width {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  /* line 33, ../scss/utils/_widths.scss */
  .xlarge-width {
    width: 92%;
  }

  /* line 37, ../scss/utils/_widths.scss */
  .large-width {
    width: 92%;
  }

  /* line 41, ../scss/utils/_widths.scss */
  .medium-width {
    width: 92%;
  }

  /* line 45, ../scss/utils/_widths.scss */
  .small-width {
    width: 60%;
  }

  /* line 49, ../scss/utils/_widths.scss */
  .xsmall-width {
    width: 60%;
  }
}
@media (max-width: 768px) {
  /* line 56, ../scss/utils/_widths.scss */
  .xlarge-width {
    width: 86%;
  }

  /* line 60, ../scss/utils/_widths.scss */
  .large-width {
    width: 80%;
  }

  /* line 64, ../scss/utils/_widths.scss */
  .medium-width {
    width: 80%;
  }

  /* line 68, ../scss/utils/_widths.scss */
  .small-width {
    width: 80%;
  }

  /* line 72, ../scss/utils/_widths.scss */
  .xsmall-width {
    width: 80%;
  }
}
/* vertical */
/* line 2, ../scss/utils/_alignements.scss */
.vertical_align {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 8, ../scss/utils/_alignements.scss */
.vertical_align_inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

/* Horizontal */
/* line 15, ../scss/utils/_alignements.scss */
.wrapper_parent {
  float: left;
  position: relative;
  left: 50%;
}

/* line 21, ../scss/utils/_alignements.scss */
.wrapper_child {
  float: left;
  position: relative;
  left: -50%;
}

/*
<div class="wrapper_parent">
    <div class="wrapper_child btn_green" id="footer_newsletter"></div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
*/
/* Base */
@font-face {
  font-family: 'DSTypeLeituraDisplayRoman';
  src: url("../fonts/DSTypeLeituraDisplayRoman.eot");
  src: url("../fonts/DSTypeLeituraDisplayRoman.eot?#iefix") format("embedded-opentype"), url("../fonts/DSTypeLeituraDisplayRoman.woff") format("woff"), url("../fonts/DSTypeLeituraDisplayRoman.ttf") format("truetype"), url("../fonts/DSTypeLeituraDisplayRoman.svg#DSTypeLeituraDisplayRoman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GTCinetypeTrialBold';
  src: url("../fonts/GTCinetypeTrialBold.eot");
  src: url("../fonts/GTCinetypeTrialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GTCinetypeTrialBold.woff") format("woff"), url("../fonts/GTCinetypeTrialBold.ttf") format("truetype"), url("../fonts/GTCinetypeTrialBold.svg#GTCinetypeTrialBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GTCinetypeTrialRegular';
  src: url("../fonts/GTCinetypeTrialRegular.eot");
  src: url("../fonts/GTCinetypeTrialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTCinetypeTrialRegular.woff") format("woff"), url("../fonts/GTCinetypeTrialRegular.ttf") format("truetype"), url("../fonts/GTCinetypeTrialRegular.svg#GTCinetypeTrialRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GTCinetypeTrialRegularItalic';
  src: url("../fonts/GTCinetypeTrialRegularItalic.eot");
  src: url("../fonts/GTCinetypeTrialRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GTCinetypeTrialRegularItalic.woff") format("woff"), url("../fonts/GTCinetypeTrialRegularItalic.ttf") format("truetype"), url("../fonts/GTCinetypeTrialRegularItalic.svg#GTCinetypeTrialRegularItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../scss/base/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'GTCinetypeTrialRegular', sans-serif;
}

/* line 14, ../scss/base/_base.scss */
.clear {
  clear: both;
}

/* line 18, ../scss/base/_base.scss */
.desktop {
  display: block;
}

/* line 22, ../scss/base/_base.scss */
.responsive {
  display: none;
}

/* Fonts */
/* line 31, ../scss/base/_base.scss */
h2 {
  font-size: 32px;
  color: #41464b;
  line-height: 48px;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
}

/* line 35, ../scss/base/_base.scss */
h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
  letter-spacing: 2px;
}

/* line 42, ../scss/base/_base.scss */
.text-1 {
  color: #9899a0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialRegular', sans-serif;
}

/* line 47, ../scss/base/_base.scss */
a {
  text-decoration: none;
}
/* line 50, ../scss/base/_base.scss */
a:hover {
  text-decoration: none;
}
/* line 54, ../scss/base/_base.scss */
a .liseret-anim {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #41464b;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 65, ../scss/base/_base.scss */
a:hover .liseret-anim {
  left: 40%;
  width: 20%;
  height: 3px;
}

@media (max-width: 768px) {
  /* line 2, ../scss/base/_base_responsive.scss */
  .desktop {
    display: none;
  }

  /* line 6, ../scss/base/_base_responsive.scss */
  .responsive {
    display: block;
  }

  /* line 10, ../scss/base/_base_responsive.scss */
  h2 {
    font-size: 25px;
    color: #41464b;
    line-height: 42px;
    font-family: 'DSTypeLeituraDisplayRoman', serif;
  }

  /* line 14, ../scss/base/_base_responsive.scss */
  .text-1 {
    color: #9899a0;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialRegular', sans-serif;
  }
}
/* Components */
/* line 1, ../scss/components/_button.scss */
.button {
  color: blue;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 50px;
  line-height: 50px;
}

/* line 9, ../scss/components/_button.scss */
.button-white {
  border-color: #fff;
  color: #fff;
}

/* line 14, ../scss/components/_button.scss */
.button-blue {
  border-color: #68c3ee;
  background-color: #68c3ee;
  color: #fff;
}

/* line 20, ../scss/components/_button.scss */
.button-grey {
  border-color: #e0e0e0;
  color: #41464b;
}

/* line 25, ../scss/components/_button.scss */
.menu-lines-button {
  width: 15px;
}
/* line 28, ../scss/components/_button.scss */
.menu-lines-button .line {
  margin-top: 3px;
  height: 2px;
  background-color: #41464b;
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
/* line 36, ../scss/components/_button.scss */
.menu-lines-button .line:first-child {
  margin-top: 0;
}
/* line 42, ../scss/components/_button.scss */
.menu-lines-button.open .line-1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 3px;
}
/* line 47, ../scss/components/_button.scss */
.menu-lines-button.open .line-2 {
  display: none;
}
/* line 51, ../scss/components/_button.scss */
.menu-lines-button.open .line-3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -2px;
}

/* line 58, ../scss/components/_button.scss */
.btn-animate {
  position: relative;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 63, ../scss/components/_button.scss */
.btn-animate .btn-content-hover {
  position: absolute;
  top: 0;
  left: -30px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 74, ../scss/components/_button.scss */
.btn-animate .btn-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 87, ../scss/components/_button.scss */
.btn-animate:hover .btn-content-hover {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 92, ../scss/components/_button.scss */
.btn-animate:hover .btn-content {
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Layout */
/* Pages */
/* line 1, ../scss/pages/_home.scss */
.menu-link {
  cursor: pointer;
}

/* line 5, ../scss/pages/_home.scss */
#header {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}
/* line 11, ../scss/pages/_home.scss */
#header #uikitex-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 19, ../scss/pages/_home.scss */
#header #header-content {
  position: relative;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
}
/* line 25, ../scss/pages/_home.scss */
#header #header-content #header-content-inner {
  position: absolute;
  bottom: 105px;
  left: 0;
}
/* line 30, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #title {
  color: #fff;
  font-size: 60px;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
}
/* line 35, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #subtitle {
  color: #fff;
  margin-top: 18px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialRegular', sans-serif;
}
/* line 41, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons {
  margin-top: 70px;
}
/* line 44, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #btn-video {
  display: block;
  position: relative;
  float: left;
  width: 210px;
  height: 53px;
  background-color: #fff;
}
/* line 53, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #btn-video #btn-video-picto {
  float: left;
  width: 66px;
  height: 100%;
  background: url(../images/plai-video-picto.png) center center no-repeat;
  background-size: 11px 11px;
  background-color: #68c3ee;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 64, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #btn-video #btn-video-text {
  position: relative;
  float: left;
  text-align: center;
  height: 53px;
  width: 144px;
  line-height: 53px;
  color: #41464b;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 77, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #btn-video:hover #btn-video-picto {
  background-color: #18b2e2;
}
/* line 83, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #link-dl-sheet {
  position: relative;
  float: left;
  margin-left: 25px;
  line-height: 53px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 92, ../scss/pages/_home.scss */
#header #header-content #header-content-inner #header-buttons #link-dl-sheet #lisert-dl-sheet {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/* line 106, ../scss/pages/_home.scss */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialRegular', sans-serif;
  -webkit-box-shadow: 0px 0px 0px #ababab;
  -moz-box-shadow: 0px 0px 0px #ababab;
  box-shadow: 0px 0px 0px #ababab;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 118, ../scss/pages/_home.scss */
#nav #nav-content {
  padding: 15px 0;
}
/* line 122, ../scss/pages/_home.scss */
#nav ul#menu {
  float: left;
  height: 50px;
}
/* line 126, ../scss/pages/_home.scss */
#nav ul#menu li {
  display: inline-block;
  margin-left: 16px;
  line-height: 50px;
  color: #fff;
}
/* line 132, ../scss/pages/_home.scss */
#nav ul#menu li:first-child {
  margin-left: none;
}
/* line 138, ../scss/pages/_home.scss */
#nav .logo-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -54px;
  cursor: pointer;
}
/* line 146, ../scss/pages/_home.scss */
#nav .logo-nav#logo-nav-white {
  display: block;
}
/* line 150, ../scss/pages/_home.scss */
#nav .logo-nav#logo-nav-black {
  display: none;
}
/* line 155, ../scss/pages/_home.scss */
#nav #nav-email {
  position: relative;
  display: block;
  float: right;
  line-height: 50px;
  margin-left: 26px;
  color: #fff;
}
/* line 163, ../scss/pages/_home.scss */
#nav #nav-email #nav-email-liseret {
  position: absolute;
  top: 75%;
  background-color: #fff;
}
/* line 170, ../scss/pages/_home.scss */
#nav #btn-download-sheet {
  float: right;
  width: 250px;
  text-align: center;
  color: #fff;
  margin-left: 26px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 179, ../scss/pages/_home.scss */
#nav #btn-sign-up {
  position: relative;
  float: right;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
  overflow: hidden;
  background-color: transparent;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 190, ../scss/pages/_home.scss */
#nav #btn-sign-up .btn-content-hover {
  color: #000000;
}
/* line 195, ../scss/pages/_home.scss */
#nav #btn-sign-up .btn-content {
  color: #fff;
}
/* line 200, ../scss/pages/_home.scss */
#nav #btn-sign-up:hover {
  overflow: hidden;
  background-color: #fff;
}
/* line 204, ../scss/pages/_home.scss */
#nav #btn-sign-up:hover .btn-content-hover {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 209, ../scss/pages/_home.scss */
#nav #btn-sign-up:hover .btn-content {
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 216, ../scss/pages/_home.scss */
#nav.white {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 20px #ababab;
  -moz-box-shadow: 0px 2px 20px #ababab;
  box-shadow: 0px 2px 20px #ababab;
}
/* line 223, ../scss/pages/_home.scss */
#nav.white ul#menu li {
  color: #41464b;
}
/* line 228, ../scss/pages/_home.scss */
#nav.white ul#menu #menu-mailto a {
  color: #41464b;
}
/* line 231, ../scss/pages/_home.scss */
#nav.white ul#menu #menu-mailto a #liseret {
  background-color: #41464b;
}
/* line 238, ../scss/pages/_home.scss */
#nav.white #logo-nav-white {
  display: none;
}
/* line 242, ../scss/pages/_home.scss */
#nav.white #logo-nav-black {
  display: block;
}
/* line 246, ../scss/pages/_home.scss */
#nav.white #nav-email {
  color: #41464b;
}
/* line 249, ../scss/pages/_home.scss */
#nav.white #nav-email #nav-email-liseret {
  background-color: #41464b;
}
/* line 254, ../scss/pages/_home.scss */
#nav.white #btn-sign-up {
  color: #41464b;
  width: 100px;
}
/* line 259, ../scss/pages/_home.scss */
#nav.white #btn-sign-up .btn-content-hover {
  display: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 264, ../scss/pages/_home.scss */
#nav.white #btn-sign-up .btn-content {
  color: #41464b;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 271, ../scss/pages/_home.scss */
#nav.white #btn-sign-up:hover {
  overflow: hidden;
  background-color: transparent;
}
/* line 275, ../scss/pages/_home.scss */
#nav.white #btn-sign-up:hover .btn-content-hover {
  display: none;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 281, ../scss/pages/_home.scss */
#nav.white #btn-sign-up:hover .btn-content {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 288, ../scss/pages/_home.scss */
#nav.white #btn-download-sheet {
  color: #41464b;
  width: 170px;
  border: none;
}

/* line 298, ../scss/pages/_home.scss */
#part-1 #part-1-content {
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
}
/* line 305, ../scss/pages/_home.scss */
#part-1 #part-1-content .text {
  line-height: 30px;
  margin-top: 30px;
}
/* line 311, ../scss/pages/_home.scss */
#part-1 #part-1-content-2 {
  margin-top: 100px;
  text-align: center;
  font-size: 13px;
}
/* line 317, ../scss/pages/_home.scss */
#part-1 #part-1-content-2 #text-1 {
  font-family: 'GTCinetypeTrialBold', sans-serif;
  letter-spacing: 2px;
  color: #000000;
}
/* line 323, ../scss/pages/_home.scss */
#part-1 #part-1-content-2 #text-2 {
  font-family: 'GTCinetypeTrialRegularItalic', sans-serif;
  color: #62666a;
  margin-top: 30px;
  letter-spacing: 1px;
}
/* line 329, ../scss/pages/_home.scss */
#part-1 #part-1-content-2 #text-2 b {
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 334, ../scss/pages/_home.scss */
#part-1 #part-1-content-2 #text-3 {
  font-family: 'GTCinetypeTrialRegular', sans-serif;
  color: #9899a0;
  margin-top: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}

/* line 344, ../scss/pages/_home.scss */
#arrow-go-bottom {
  position: relative;
  width: 50%;
  height: 54px;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 351, ../scss/pages/_home.scss */
#arrow-go-bottom #liseret {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e4e4e4;
}
/* line 360, ../scss/pages/_home.scss */
#arrow-go-bottom #btn {
  position: absolute;
  top: 0;
  left: 50%;
  width: 54px;
  height: 54px;
  margin-left: -27px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-box-shadow: -3px 3px 12px #9899a0;
  -moz-box-shadow: -3px 3px 12px #9899a0;
  box-shadow: -3px 3px 12px #9899a0;
  background: url(../images/arrow.jpg) center 53% no-repeat;
  background-size: 15.5px 9px;
  background-color: #fff;
}

/* line 375, ../scss/pages/_home.scss */
#part-2 {
  position: relative;
  margin-top: -27px;
  overflow: hidden;
}
/* line 382, ../scss/pages/_home.scss */
#part-2 #part-2-laptop {
  position: absolute;
  top: 180px;
  right: 0;
}
/* line 388, ../scss/pages/_home.scss */
#part-2 #part-2-pen {
  position: absolute;
  top: 222px;
  left: 0;
}
/* line 394, ../scss/pages/_home.scss */
#part-2 #part-2-content {
  margin: 0 auto;
  padding-top: 140px;
}
/* line 401, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left {
  margin-left: 10%;
}
/* line 415, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-1 .text {
  margin-top: 45px;
}
/* line 418, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-1 .text ul {
  list-style-type: disc;
  margin-left: 20px;
}
/* line 422, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-1 .text ul li {
  line-height: 23px;
}
/* line 429, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-2 {
  margin-top: 60px;
  margin-left: -10px;
  padding-left: 85px;
  background: url(../images/quote.png) left center no-repeat;
  background-size: 44px 44px;
  width: 70%;
}
/* line 440, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-2 #quote {
  font-size: 15px;
  color: #41464b;
  font-style: italic;
  line-height: 23px;
}
/* line 447, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-left #part-2-left-content-2 #signature {
  font-size: 15px;
  color: #000000;
  margin-top: 8px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 456, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-right {
  position: absolute;
  top: 190px;
  right: 0;
  width: 46%;
}
/* line 463, ../scss/pages/_home.scss */
#part-2 #part-2-content #part-2-right img {
  margin-top: -30px;
}

/* line 470, ../scss/pages/_home.scss */
#part-3 {
  position: relative;
  margin-top: 220px;
  background-color: #fff;
  overflow: hidden;
}
/* line 477, ../scss/pages/_home.scss */
#part-3 #part-3-ecouteurs {
  position: absolute;
  top: 120px;
  right: 0;
}
/* line 483, ../scss/pages/_home.scss */
#part-3 #part-3-book {
  position: absolute;
  top: -42px;
  left: 0;
}
/* line 489, ../scss/pages/_home.scss */
#part-3 #part-3-content {
  margin: 0 auto;
}
/* line 493, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-left {
  float: left;
  width: 53%;
}
/* line 497, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-left img {
  margin: 0 auto;
}
/* line 502, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right {
  float: left;
  width: 47%;
  padding-top: 100px;
}
/* line 507, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content {
  margin: 0 auto;
}
/* line 511, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice {
  width: 100%;
}
/* line 515, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support {
  display: block;
  float: left;
  margin-left: 20px;
}
/* line 520, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support:first-child {
  margin-left: 0;
}
/* line 524, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#laptop {
  max-width: 97px;
}
/* line 528, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#desktop {
  max-width: 88px;
}
/* line 532, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#mobile {
  max-width: 26px;
}
/* line 538, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content h2 {
  margin-top: 50px;
}
/* line 542, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content .text {
  margin-top: 28px;
  line-height: 25px;
}
/* line 546, ../scss/pages/_home.scss */
#part-3 #part-3-content #part-3-right #part-3-left-content .text p {
  margin-top: 20px;
}

/* line 555, ../scss/pages/_home.scss */
#part-4 {
  margin-top: 225px;
  padding-bottom: 180px;
}
/* line 560, ../scss/pages/_home.scss */
#part-4 #part-4-content {
  margin: 0 auto;
  text-align: center;
}
/* line 565, ../scss/pages/_home.scss */
#part-4 #part-4-content ul {
  position: relative;
  margin-top: 105px;
}
/* line 569, ../scss/pages/_home.scss */
#part-4 #part-4-content ul #liseret {
  position: absolute;
  top: 120px;
  left: 5%;
  width: 90%;
  height: 1px;
  background: url(../images/liseret-points.jpg) center center repeat;
}
/* line 578, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li {
  float: left;
  width: 33%;
  padding: 0 40px;
}
/* line 583, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li .number {
  position: relative;
  width: 41px;
  height: 41px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fdfdfd;
}
/* line 592, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li .number .circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #ededed;
}
/* line 602, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li .number .circle-2 {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #d2d2d2;
}
/* line 612, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li .number .num {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 41px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #7d7e7f;
  font-size: 11px;
  font-weight: bold;
}
/* line 627, ../scss/pages/_home.scss */
#part-4 #part-4-content ul li .text .text-1 {
  margin-top: 25px;
  line-height: 25px;
}

/* line 637, ../scss/pages/_home.scss */
#part-5 {
  position: relative;
  background-color: #68c3ee;
}
/* line 641, ../scss/pages/_home.scss */
#part-5 #part-5-content {
  position: relative;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 135px;
  color: #fff;
}
/* line 649, ../scss/pages/_home.scss */
#part-5 #part-5-content h3 {
  text-align: center;
  color: #fff;
}
/* line 654, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 663, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial img {
  position: absolute;
  top: 0;
}
/* line 668, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial .arrow-trait {
  position: absolute;
  top: 10px;
  width: 0px;
  height: 3px;
  background-color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 679, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-left {
  left: -30px;
}
/* line 682, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-left img {
  left: 0;
}
/* line 686, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-left .arrow-trait {
  left: 2px;
}
/* line 690, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-left:hover {
  left: -35px;
}
/* line 693, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-left:hover .arrow-trait {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 20px;
}
/* line 700, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-right {
  right: -30px;
}
/* line 703, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-right img {
  right: 0;
}
/* line 707, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-right .arrow-trait {
  right: 2px;
}
/* line 711, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-right:hover {
  right: -35px;
}
/* line 714, ../scss/pages/_home.scss */
#part-5 #part-5-content .nav-testimonial.nav-right:hover .arrow-trait {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 20px;
}
/* line 722, ../scss/pages/_home.scss */
#part-5 #part-5-content #quotes {
  position: relative;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 35px;
  height: auto;
  min-height: 200px;
}
/* line 731, ../scss/pages/_home.scss */
#part-5 #part-5-content #quotes .elt {
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  */
}
/* line 740, ../scss/pages/_home.scss */
#part-5 #part-5-content #quotes .elt .quote {
  padding: 35px 0;
  font-size: 32px;
  color: #fff;
  line-height: 48px;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
  background: url(../images/liseret-quotes.jpg) bottom center no-repeat;
  background-size: 368px 11px;
}
/* line 747, ../scss/pages/_home.scss */
#part-5 #part-5-content #quotes .elt .signature {
  margin-top: 50px;
  font-size: 15px;
}

/* line 756, ../scss/pages/_home.scss */
#part-6 {
  padding-top: 165px;
  padding-bottom: 145px;
}
/* line 760, ../scss/pages/_home.scss */
#part-6 #part-6-content {
  margin: 0 auto;
}
/* line 764, ../scss/pages/_home.scss */
#part-6 #part-6-content #part-6-left {
  width: 50%;
  float: left;
  padding-left: 85px;
  padding-right: 50px;
}
/* line 771, ../scss/pages/_home.scss */
#part-6 #part-6-content #part-6-right {
  padding-left: 85px;
  width: 50%;
  float: left;
}
/* line 777, ../scss/pages/_home.scss */
#part-6 #part-6-content .part-6-title {
  position: relative;
  width: 100%;
  height: 75px;
  line-height: 75px;
}
/* line 783, ../scss/pages/_home.scss */
#part-6 #part-6-content .part-6-title .number {
  position: absolute;
  top: 0;
  left: 25px;
  line-height: inherit;
  font-size: 75px;
  color: #f5f5f6;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
}
/* line 793, ../scss/pages/_home.scss */
#part-6 #part-6-content .part-6-title h3 {
  position: relative;
  line-height: inherit;
  font-size: 17px;
  color: #41464b;
}
/* line 801, ../scss/pages/_home.scss */
#part-6 #part-6-content ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 805, ../scss/pages/_home.scss */
#part-6 #part-6-content ul li {
  margin-top: 28px;
  line-height: 25px;
}

/* line 813, ../scss/pages/_home.scss */
#liseret-separation {
  height: 1px;
  margin: 0 auto;
  background-color: #e5e5e5;
  width: 40%;
}

/* line 823, ../scss/pages/_home.scss */
#part-7 #part-7-content {
  padding-top: 170px;
  padding-bottom: 170px;
  text-align: center;
}
/* line 828, ../scss/pages/_home.scss */
#part-7 #part-7-content .text {
  margin-top: 45px;
  line-height: 28px;
}

/* line 835, ../scss/pages/_home.scss */
#part-8 {
  background-color: #68c3ee;
}
/* line 838, ../scss/pages/_home.scss */
#part-8 #part-8-content {
  padding-top: 220px;
  padding-bottom: 220px;
  text-align: center;
}
/* line 843, ../scss/pages/_home.scss */
#part-8 #part-8-content img {
  margin: 0 auto;
}
/* line 847, ../scss/pages/_home.scss */
#part-8 #part-8-content #download-text {
  margin-top: 60px;
  font-size: 75px;
  color: #fff;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
}
/* line 854, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download {
  display: block;
  margin: 0 auto;
  margin-top: 85px;
  width: 233px;
}
/* line 860, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download .btn-content-hover {
  color: #68c3ee;
}
/* line 865, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download .btn-content {
  color: #fff;
}
/* line 870, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download:hover {
  overflow: hidden;
  background-color: #fff;
}
/* line 874, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download:hover .btn-content-hover {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 879, ../scss/pages/_home.scss */
#part-8 #part-8-content #btn-download:hover .btn-content {
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 888, ../scss/pages/_home.scss */
#part-9 {
  overflow: hidden;
}
/* line 891, ../scss/pages/_home.scss */
#part-9 #part-9-content {
  padding-top: 145px;
  margin: 0 auto;
}
/* line 896, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-story {
  text-align: center;
}
/* line 899, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-story .text {
  margin-top: 45px;
  line-height: 27px;
}
/* line 903, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-story .text p {
  margin-top: 30px;
}
/* line 909, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons {
  margin-top: 135px;
}
/* line 912, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person {
  height: 432px;
  width: 100%;
}
/* line 916, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .portrait {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
/* line 922, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .portrait .portrait-bg {
  position: absolute;
  top: 0;
  background-color: #f7f7f7;
  width: 86%;
  height: 100%;
}
/* line 930, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .portrait img {
  display: block;
  position: absolute;
  bottom: 0;
}
/* line 937, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}
/* line 943, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content {
  position: absolute;
}
/* line 946, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content .name {
  font-size: 20px;
  color: #000000;
}
/* line 951, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content .status {
  font-size: 20px;
  color: #000000;
  margin-top: 12px;
}
/* line 957, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content ul {
  list-style-type: disc;
  margin-top: 35px;
  margin-left: 15px;
}
/* line 962, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content ul li {
  line-height: 24px;
}
/* line 968, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person .infos .infos-content a {
  position: relative;
  display: inline-block;
  margin-top: 48px;
  font-size: 14px;
  line-height: 20px;
  color: #41464b;
  letter-spacing: 2px;
}
/* line 981, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-1 .portrait-bg {
  right: 0;
}
/* line 985, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-1 .infos-content {
  top: 48px;
  left: 75px;
}
/* line 990, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-1 img {
  right: 30px;
}
/* line 996, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-2 .portrait-bg {
  left: 0;
}
/* line 1000, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-2 .infos-content {
  top: 115px;
  left: 150px;
  padding-right: 30px;
}
/* line 1006, ../scss/pages/_home.scss */
#part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-2 img {
  left: 175px;
}

/* line 1015, ../scss/pages/_home.scss */
#part-10 {
  background-color: #f7f7f7;
}
/* line 1018, ../scss/pages/_home.scss */
#part-10 #part-10-content {
  width: 1009px;
  margin: 0 auto;
  padding-top: 195px;
  padding-bottom: 190px;
}
/* line 1024, ../scss/pages/_home.scss */
#part-10 #part-10-content #part-10-left {
  float: left;
  width: 50%;
  padding-left: 33px;
  padding-right: 105px;
}
/* line 1031, ../scss/pages/_home.scss */
#part-10 #part-10-content #part-10-right {
  float: left;
  width: 50%;
  padding-left: 33px;
  padding-right: 105px;
}
/* line 1038, ../scss/pages/_home.scss */
#part-10 #part-10-content .text {
  margin-top: 43px;
  line-height: 25px;
}

/* line 1047, ../scss/pages/_home.scss */
#part-11 #part-11-content {
  padding-top: 190px;
  padding-bottom: 180px;
  text-align: center;
}
/* line 1052, ../scss/pages/_home.scss */
#part-11 #part-11-content #subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #9899a0;
}
/* line 1058, ../scss/pages/_home.scss */
#part-11 #part-11-content #title {
  margin-top: 15px;
  line-height: 50px;
  font-size: 32px;
  color: #41464b;
  line-height: 48px;
  font-family: 'DSTypeLeituraDisplayRoman', serif;
}
/* line 1064, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact {
  margin-top: 110px;
}
/* line 1067, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo {
  display: inline-block;
  width: 195px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 1072, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo .btn-content-hover {
  color: #41464b;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1077, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo .btn-content {
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1084, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo:hover {
  overflow: hidden;
  background-color: #fff;
  border-color: #e0e0e0;
}
/* line 1089, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo:hover .btn-content-hover {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1094, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #request-demo:hover .btn-content {
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 1101, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email {
  display: inline-block;
  width: 195px;
  margin-left: 16px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 1107, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email .btn-content-hover {
  color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1112, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email .btn-content {
  color: #41464b;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 1119, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email:hover {
  overflow: hidden;
  background-color: #68c3ee;
  border-color: #68c3ee;
}
/* line 1124, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email:hover .btn-content-hover {
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1129, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #email:hover .btn-content {
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 1136, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #separation {
  display: inline-block;
  width: 1px;
  height: 86px;
  background-color: #cccccc;
  margin: 0 50px;
  margin-bottom: -30px;
}
/* line 1145, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #phone {
  display: inline-block;
  padding-left: 42px;
  background: url(../images/phone.jpg) left center no-repeat;
  background-size: 16px 30px;
  font-size: 15px;
  text-align: left;
}
/* line 1153, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #phone #text {
  color: #9899a0;
}
/* line 1157, ../scss/pages/_home.scss */
#part-11 #part-11-content #contact #phone #num {
  display: block;
  color: #41464b;
  margin-top: 7px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}

/* line 1168, ../scss/pages/_home.scss */
footer {
  width: 100%;
  padding-top: 71px;
  padding-bottom: 207px;
  -webkit-box-shadow: 0px -2px 12px #f2f2f2;
  -moz-box-shadow: 0px -2px 12px #f2f2f2;
  box-shadow: 0px -2px 12px #f2f2f2;
}
/* line 1174, ../scss/pages/_home.scss */
footer #logo-footer {
  display: block;
  margin: 0 auto;
}
/* line 1179, ../scss/pages/_home.scss */
footer ul {
  list-style: none;
  margin-top: 80px;
  text-align: center;
}
/* line 1184, ../scss/pages/_home.scss */
footer ul li {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 19px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'GTCinetypeTrialBold', sans-serif;
}
/* line 1192, ../scss/pages/_home.scss */
footer ul li:first-child {
  margin-left: 0;
}
/* line 1198, ../scss/pages/_home.scss */
footer #copyright {
  margin-top: 25px;
  font-size: 12px;
  color: #9899a0;
  text-align: center;
  letter-spacing: 1px;
}
/* line 1205, ../scss/pages/_home.scss */
footer #copyright a {
  color: #9899a0;
}
/* line 1208, ../scss/pages/_home.scss */
footer #copyright a:hover {
  color: #000000;
}

@media (max-width: 1540px) {
  /* line 1219, ../scss/pages/_home.scss */
  #part-2 #part-2-laptop {
    position: absolute;
    top: 180px;
    right: -100px;
  }
  /* line 1225, ../scss/pages/_home.scss */
  #part-2 #part-2-pen {
    position: absolute;
    top: 222px;
    left: 0;
  }

  /* line 1234, ../scss/pages/_home.scss */
  #part-3 #part-3-ecouteurs {
    position: absolute;
    top: 120px;
    right: -60px;
  }
  /* line 1240, ../scss/pages/_home.scss */
  #part-3 #part-3-book {
    position: absolute;
    top: -42px;
    left: -100px;
  }
}
@media (max-width: 1340px) {
  /* line 1251, ../scss/pages/_home.scss */
  #part-2 #part-2-laptop {
    position: absolute;
    top: 180px;
    right: -150px;
  }
  /* line 1257, ../scss/pages/_home.scss */
  #part-2 #part-2-pen {
    position: absolute;
    top: 222px;
    left: 0;
  }

  /* line 1266, ../scss/pages/_home.scss */
  #part-3 #part-3-ecouteurs {
    display: none;
  }
  /* line 1270, ../scss/pages/_home.scss */
  #part-3 #part-3-book {
    display: none;
  }
}
@media (max-width: 1330px) {
  /* line 1279, ../scss/pages/_home.scss */
  #part-2 #part-2-laptop {
    position: absolute;
    top: 180px;
    right: -150px;
  }
  /* line 1285, ../scss/pages/_home.scss */
  #part-2 #part-2-pen {
    position: absolute;
    top: 222px;
    left: -50px;
  }

  /* line 1303, ../scss/pages/_home.scss */
  #part-9 #part-9-content #part-9-persons .part-9-person#part-9-person-2 .infos-content {
    top: 75px;
    left: 50px;
  }
}
@media (max-width: 1170px) {
  /* line 1317, ../scss/pages/_home.scss */
  #part-2 #part-2-laptop {
    position: absolute;
    top: 180px;
    right: -300px;
  }
  /* line 1323, ../scss/pages/_home.scss */
  #part-2 #part-2-pen {
    position: absolute;
    top: 222px;
    left: -50px;
  }
}
@media (max-width: 768px) {
  /* line 5, ../scss/pages/_home_responsive.scss */
  #header #uikitex-parallax-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 15, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner {
    position: absolute;
    bottom: 40px;
    left: 0;
  }
  /* line 20, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #title {
    color: #fff;
    font-size: 50px;
    font-family: 'DSTypeLeituraDisplayRoman', serif;
    line-height: 55px;
    width: 80%;
  }
  /* line 27, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #subtitle {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialRegular', sans-serif;
    line-height: 22px;
    width: 80%;
  }
  /* line 33, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #header-buttons {
    margin-top: 30px;
  }
  /* line 36, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #header-buttons #btn-video {
    float: none;
  }
  /* line 40, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #header-buttons #link-dl-sheet {
    float: none;
    margin-top: 15px;
    margin-left: 2px;
  }
  /* line 45, ../scss/pages/_home_responsive.scss */
  #header #header-content #header-content-inner #header-buttons #link-dl-sheet #lisert-dl-sheet {
    top: 20px;
  }

  /* line 54, ../scss/pages/_home_responsive.scss */
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px #41464b;
    -moz-box-shadow: 0px 2px 20px #41464b;
    box-shadow: 0px 2px 20px #41464b;
  }
  /* line 67, ../scss/pages/_home_responsive.scss */
  #nav.white {
    -webkit-box-shadow: 0px 2px 20px #ababab;
    -moz-box-shadow: 0px 2px 20px #ababab;
    box-shadow: 0px 2px 20px #ababab;
  }
  /* line 71, ../scss/pages/_home_responsive.scss */
  #nav #logo-nav-responsive {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -45px;
  }
  /* line 79, ../scss/pages/_home_responsive.scss */
  #nav #btn-menu-responisve {
    position: absolute;
    top: 27px;
    right: 27px;
    cursor: pointer;
  }
  /* line 86, ../scss/pages/_home_responsive.scss */
  #nav #menu-content-responsive {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  /* line 94, ../scss/pages/_home_responsive.scss */
  #nav #menu-content-responsive ul#menu-responsive {
    position: relative;
    background-color: #fff;
    padding: 55px 0;
  }
  /* line 99, ../scss/pages/_home_responsive.scss */
  #nav #menu-content-responsive ul#menu-responsive li {
    display: block;
    text-align: center;
    margin-top: 55px;
    color: #000000;
  }
  /* line 105, ../scss/pages/_home_responsive.scss */
  #nav #menu-content-responsive ul#menu-responsive li:first-child {
    margin-top: 0;
  }
  /* line 111, ../scss/pages/_home_responsive.scss */
  #nav #menu-content-responsive #menu-responisve-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px #ababab;
    -moz-box-shadow: 0px 2px 20px #ababab;
    box-shadow: 0px 2px 20px #ababab;
  }

  /* line 127, ../scss/pages/_home_responsive.scss */
  #part-1 #part-1-content {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 0;
    text-align: left;
  }
  /* line 136, ../scss/pages/_home_responsive.scss */
  #part-1 #part-1-content-2 {
    margin-top: 50px;
    text-align: left;
  }
  /* line 141, ../scss/pages/_home_responsive.scss */
  #part-1 #part-1-content-2 #text-2 {
    line-height: 28px;
  }

  /* line 148, ../scss/pages/_home_responsive.scss */
  #part-2 {
    margin-top: 125px;
  }
  /* line 151, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content {
    padding-top: 90px;
  }
  /* line 155, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  /* line 160, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 {
    width: 100%;
  }
  /* line 163, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 h2 {
    width: 100%;
  }
  /* line 167, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 #subtitle {
    margin-bottom: 20px;
    color: #68c3ee;
    font-size: 12px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  /* line 176, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 .text {
    margin-top: 25px;
  }
  /* line 179, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 .text ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  /* line 183, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-1 .text ul li {
    line-height: 23px;
  }
  /* line 190, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-2 {
    margin-top: 32px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 70px;
    background: url(../images/quote.png) right center no-repeat;
    background-size: 44px 44px;
    height: auto;
    width: 100%;
  }
  /* line 202, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-2 #quote {
    font-size: 12px;
    color: #41464b;
    font-style: italic;
    line-height: 20px;
  }
  /* line 209, ../scss/pages/_home_responsive.scss */
  #part-2 #part-2-content #part-2-left #part-2-left-content-2 #signature {
    margin-top: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
    line-height: 20px;
  }

  /* line 220, ../scss/pages/_home_responsive.scss */
  #part-3 {
    margin-top: 90px;
  }
  /* line 226, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-responsive-images {
    margin-bottom: 70px;
  }
  /* line 230, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content {
    margin: 0 auto;
  }
  /* line 234, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-left {
    float: none;
    width: 100%;
  }
  /* line 238, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-left img {
    margin: 0 auto;
  }
  /* line 243, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right {
    float: none;
    width: 100%;
    padding-top: 0;
  }
  /* line 248, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content {
    width: 100%;
  }
  /* line 251, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content #support-choice {
    width: 100%;
    height: auto;
    text-align: center;
  }
  /* line 256, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support {
    margin-left: 6%;
    display: inline-block;
    float: none;
  }
  /* line 261, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#laptop {
    max-width: 97px;
  }
  /* line 265, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#desktop {
    max-width: 88px;
  }
  /* line 269, ../scss/pages/_home_responsive.scss */
  #part-3 #part-3-content #part-3-right #part-3-left-content #support-choice .support#mobile {
    max-width: 26px;
  }

  /* line 279, ../scss/pages/_home_responsive.scss */
  #part-4 {
    background-color: #fdfdfd;
    margin-top: 130px;
    padding-bottom: 90px;
  }
  /* line 285, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content {
    margin: 0 auto;
    text-align: center;
  }
  /* line 290, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content #liseret {
    display: none;
  }
  /* line 294, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul {
    position: relative;
    margin-top: 0;
  }
  /* line 298, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li {
    float: none;
    width: 100%;
    padding: 0 27px;
    margin-top: 90px;
  }
  /* line 304, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li.first {
    margin-top: 50px;
  }
  /* line 309, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li .number {
    width: 41px;
    height: 41px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  /* line 315, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li .number .circle-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #ededed;
  }
  /* line 325, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li .number .circle-2 {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #d2d2d2;
  }
  /* line 335, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li .number .num {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 41px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #7d7e7f;
    font-size: 11px;
    font-weight: bold;
  }
  /* line 350, ../scss/pages/_home_responsive.scss */
  #part-4 #part-4-content ul li .text .text-1 {
    margin-top: 25px;
    line-height: 25px;
  }

  /* line 362, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content {
    padding-top: 95px;
    padding-bottom: 90px;
  }
  /* line 366, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #part-5-nav-responsive {
    position: relative;
    width: 100px;
    height: 23px;
    margin: 0 auto;
  }
  /* line 372, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #part-5-nav-responsive .nav-testimonial-responsive {
    position: absolute;
    top: 0;
  }
  /* line 376, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #part-5-nav-responsive .nav-testimonial-responsive.nav-left {
    left: 0;
  }
  /* line 380, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #part-5-nav-responsive .nav-testimonial-responsive.nav-right {
    right: 0;
  }
  /* line 386, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content h3 {
    text-align: center;
    margin-top: 80px;
  }
  /* line 391, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content .nav-testimonial {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
  }
  /* line 397, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content .nav-testimonial.nav-left {
    left: -30px;
  }
  /* line 401, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content .nav-testimonial.nav-right {
    right: -30px;
  }
  /* line 406, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #quotes {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    min-height: 200px;
  }
  /* line 414, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #quotes .elt {
    position: relative;
    /*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    */
  }
  /* line 423, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #quotes .elt .quote {
    padding: 35px 0;
    font-size: 25px;
    color: #fff;
    line-height: 42px;
    font-family: 'DSTypeLeituraDisplayRoman', serif;
    background: url(../images/liseret-quotes.jpg) bottom center no-repeat;
    background-size: 368px 11px;
  }
  /* line 430, ../scss/pages/_home_responsive.scss */
  #part-5 #part-5-content #quotes .elt .signature {
    margin-top: 40px;
    font-size: 15px;
    line-height: 25px;
  }

  /* line 440, ../scss/pages/_home_responsive.scss */
  #part-6 {
    padding-top: 90px;
    padding-bottom: 85px;
  }
  /* line 444, ../scss/pages/_home_responsive.scss */
  #part-6 #part-6-content {
    margin: 0 auto;
  }
  /* line 448, ../scss/pages/_home_responsive.scss */
  #part-6 #part-6-content #part-6-left {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 455, ../scss/pages/_home_responsive.scss */
  #part-6 #part-6-content #part-6-right {
    padding-left: 0;
    width: 100%;
    float: none;
    margin-top: 70px;
  }
  /* line 462, ../scss/pages/_home_responsive.scss */
  #part-6 #part-6-content .part-6-title {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 75px;
  }

  /* line 473, ../scss/pages/_home_responsive.scss */
  #part-7 #part-7-content {
    padding-top: 90px;
    padding-bottom: 0px;
    text-align: center;
  }
  /* line 479, ../scss/pages/_home_responsive.scss */
  #part-7 #part-7-content .text {
    margin-top: 45px;
    line-height: 28px;
  }

  /* line 486, ../scss/pages/_home_responsive.scss */
  #part-8 {
    padding-top: 90px;
  }
  /* line 492, ../scss/pages/_home_responsive.scss */
  #part-8 #part-8-content img {
    margin: 0 auto;
  }
  /* line 496, ../scss/pages/_home_responsive.scss */
  #part-8 #part-8-content #download-text {
    margin-top: 50px;
    font-size: 45px;
  }
  /* line 501, ../scss/pages/_home_responsive.scss */
  #part-8 #part-8-content #btn-download {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 233px;
  }

  /* line 510, ../scss/pages/_home_responsive.scss */
  #part-9 {
    margin-top: 115px;
    padding-bottom: 30px;
  }
  /* line 515, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content {
    padding-top: 0;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  /* line 521, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-story {
    text-align: center;
  }
  /* line 524, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-story .text {
    margin-top: 45px;
    line-height: 27px;
  }
  /* line 532, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive {
    margin-top: 45px;
  }
  /* line 539, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos {
    margin-top: 37px;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
  }
  /* line 545, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos .name {
    color: #000000;
  }
  /* line 549, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos .status {
    color: #68c3ee;
    margin-top: 6px;
  }
  /* line 554, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos ul {
    list-style-type: disc;
    margin-top: 35px;
    margin-left: 15px;
    text-transform: none;
    font-size: 12px;
  }
  /* line 561, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos ul li {
    line-height: 24px;
    text-align: left;
  }
  /* line 568, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive .infos a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    line-height: 20px;
    color: #41464b;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 12px;
    text-align: left;
  }
  /* line 581, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive#person-2-responsive {
    margin-top: 60px;
  }
  /* line 584, ../scss/pages/_home_responsive.scss */
  #part-9 #part-9-content #part-9-persons-responsive .part-9-person-responsive#person-2-responsive .infos {
    text-align: right;
  }

  /* line 593, ../scss/pages/_home_responsive.scss */
  #part-10 {
    background-color: #fff;
  }
  /* line 596, ../scss/pages/_home_responsive.scss */
  #part-10 #part-10-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  /* line 602, ../scss/pages/_home_responsive.scss */
  #part-10 #part-10-content #part-10-left {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 609, ../scss/pages/_home_responsive.scss */
  #part-10 #part-10-content #part-10-right {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 70px;
  }
  /* line 617, ../scss/pages/_home_responsive.scss */
  #part-10 #part-10-content .text {
    margin-top: 43px;
    line-height: 25px;
  }

  /* line 624, ../scss/pages/_home_responsive.scss */
  #part-10-bis {
    background-color: #68c3ee;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  /* line 629, ../scss/pages/_home_responsive.scss */
  #part-10-bis #contact-us-picto {
    display: block;
    margin: 0 auto;
  }
  /* line 634, ../scss/pages/_home_responsive.scss */
  #part-10-bis #contact-text {
    color: #fff;
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    font-family: 'DSTypeLeituraDisplayRoman', serif;
  }
  /* line 642, ../scss/pages/_home_responsive.scss */
  #part-10-bis #btn-contact {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 233px;
    text-align: center;
  }

  /* line 651, ../scss/pages/_home_responsive.scss */
  #part-11 {
    margin-top: 90px;
  }
  /* line 654, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content {
    padding-top: 0px;
    padding-bottom: 80px;
    text-align: center;
  }
  /* line 659, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #subtitle {
    font-size: 14px;
    text-transform: uppercase;
    color: #9899a0;
  }
  /* line 665, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #title {
    margin-top: 0;
    line-height: 50px;
    font-size: 25px;
    color: #41464b;
    line-height: 42px;
    font-family: 'DSTypeLeituraDisplayRoman', serif;
  }
  /* line 671, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact {
    margin-top: 80px;
  }
  /* line 674, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #request-demo {
    display: block;
    width: 195px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
    margin: 0 auto;
  }
  /* line 681, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #email {
    display: block;
    width: 195px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 21px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
  }
  /* line 690, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #separation {
    display: none;
  }
  /* line 694, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #phone {
    display: block;
    width: 195px;
    padding-left: 0px;
    padding-top: 45px;
    margin: 0 auto;
    margin-top: 45px;
    background: url(../images/phone.jpg) center top no-repeat;
    background-size: 21px 30px;
    font-size: 15px;
    text-align: center;
  }
  /* line 706, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #phone #text {
    color: #9899a0;
  }
  /* line 710, ../scss/pages/_home_responsive.scss */
  #part-11 #part-11-content #contact #phone #num {
    color: #41464b;
    margin-top: 7px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'GTCinetypeTrialBold', sans-serif;
  }

  /* line 720, ../scss/pages/_home_responsive.scss */
  footer {
    padding-top: 50px;
    padding-bottom: 150px;
    -webkit-box-shadow: 0px -1px 8px #e3e3e3;
    -moz-box-shadow: 0px -1px 8px #e3e3e3;
    box-shadow: 0px -1px 8px #e3e3e3;
  }
  /* line 725, ../scss/pages/_home_responsive.scss */
  footer #logo-footer {
    display: block;
    margin: 0 auto;
  }
  /* line 730, ../scss/pages/_home_responsive.scss */
  footer #copyright {
    margin-top: 45px;
    color: #cfd0d3;
  }
}
