@mixin title($color) {
	font-size: 32px;
	color: $color;
	line-height: 48px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin title-responsive($color) {
	font-size: 25px;
	color: $color;
	line-height: 42px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin title-big() {
	font-size: 60px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin title-big-responsive() {
	font-size: 50px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin text-regular() {
	font-size: 15px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialRegular', sans-serif;
}

@mixin text-regular-small() {
	font-size: 13px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialRegular', sans-serif;
}

@mixin text-regular-small-responsive() {
	font-size: 12px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialRegular', sans-serif;
}

@mixin text-bold() {
	font-size: 15px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialBold', sans-serif;
}

@mixin text-bold-responsive() {
	font-size: 12px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialBold', sans-serif;
}


@mixin text-bold-small() {
	font-size: 13px;
	letter-spacing: 1px;
	font-family: 'GTCinetypeTrialBold', sans-serif;
}


@mixin rotate( $val: -2deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin rotation($deg) {
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
}

@mixin animation($animate) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}