// Colors
$grey-title: #41464b;
$grey-text: #9899a0;
$grey-liseret: #e4e4e4;
$grey-liseret-2: #cccccc;
$grey-part-bg: #fbfbfb;
$grey-part-bg-2: #fdfdfd;
$grey-circle-1: #ededed;
$grey-circle-2: #d2d2d2;
$grey-num: #7d7e7f;
$grey-big-num: #f5f5f6;
$blue-part-bg: #68c3ee;
$blue-part-bg-hover: #18b2e2;
$portrait-bg: #f7f7f7;
$grey-button: #e0e0e0;
$grey-shadow-footer: #e3e3e3;