.xlarge-width {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.large-width {
	position: relative;
	width: 1230px;
	margin: 0 auto;
}

.medium-width {
	position: relative;
	width: 1060px;
	margin: 0 auto;
}

.small-width {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.xsmall-width {
	position: relative;
	width: 720px;
	margin: 0 auto;
}

@media (max-width: 1300px) {

	.xlarge-width {
		width: 92%;
	}

	.large-width {
		width: 92%;
	}

	.medium-width {
		width: 92%;
	}

	.small-width {
		width: 60%;
	}

	.xsmall-width {
		width: 60%;
	}
}

@media (max-width: 768px) {

	.xlarge-width {
		width: 86%;
	}

	.large-width {
		width: 80%;
	}

	.medium-width {
		width: 80%;
	}

	.small-width {
		width: 80%;
	}

	.xsmall-width {
		width: 80%;
	}
}