.menu-link {
	cursor: pointer;
}

#header {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;

	#uikitex-parallax {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#header-content {
		position: relative;
		height: 100%;
		margin: 0 auto;
		z-index: 10;

		#header-content-inner {
			position: absolute;
			bottom: 105px;
			left: 0;

			#title {
				color: #fff;
				@include title-big;
			}

			#subtitle {
				color: #fff;
				margin-top: 18px;
				@include text-regular;
			}

			#header-buttons {
				margin-top: 70px;

				#btn-video {
					display: block;
					position: relative;
					float: left;
					//display: inline-block;
					width: 210px;
					height: 53px;
					background-color: #fff;

					#btn-video-picto {
						float: left;
						//display: inline-block;
						width: 66px;
						height: 100%;
						background: url(../images/plai-video-picto.png) center center no-repeat;
						background-size: 11px 11px;
						background-color: $blue-part-bg;
						@include transition(all 0.3s);
					}

					#btn-video-text {
						position: relative;
						float: left;
						//display: inline-block;
						text-align: center;
						height: 53px;
						width: 144px;
						line-height: 53px;
						color: $grey-title;
						@include text-bold;
					}

					&:hover {
						#btn-video-picto {
							background-color: $blue-part-bg-hover;
						}
					}
				}

				#link-dl-sheet {
					position: relative;
					float: left;
					//display: inline-block;
					margin-left: 25px;
					line-height: 53px;
					color: #fff;
					@include text-bold;

					#lisert-dl-sheet {
						position: absolute;
						top: 75%;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: #fff;
					}
				}
			}
		}
	}
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//height: 73px;
	background-color: transparent;
	z-index: 99;
	@include text-regular;
	@include box-shadow(0px 0px 0px #ababab);
	@include transition(all 0.3s);

	#nav-content {
		padding: 15px 0;
	}

	ul#menu {
		float: left;
		height: 50px;

		li {
			display: inline-block;
			margin-left: 16px;
			line-height: 50px;
			color: #fff;

			&:first-child {
				margin-left: none;
			}
		}
	}

	.logo-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -17px;
		margin-left: -54px;
		cursor: pointer;

		&#logo-nav-white {
			display: block;
		}

		&#logo-nav-black {
			display: none;
		}
	}

	#nav-email {
		position: relative;
		display: block;
		float: right;
		line-height: 50px;
		margin-left: 26px;
		color: #fff;

		#nav-email-liseret {
			position: absolute;
			top: 75%;
			background-color: #fff;
		}
	}

	#btn-download-sheet {
		float: right;
		width: 250px;
		text-align: center;
		color: #fff;
		margin-left: 26px;
		@include text-bold;
	}

	#btn-sign-up {
		position: relative;
		float: right;
		width: 150px;
		text-align: center;
		color: #fff;
		@include text-bold;
		overflow: hidden;
		background-color: transparent;
		@include transition(all 0.3s);

		.btn-content-hover {
			//background-color: #fff;
			color: #000000;
		}

		.btn-content {
			//background-color: transparent;
			color: #fff;
		}

		&:hover {
			overflow: hidden;
			background-color: #fff;

			.btn-content-hover {
				left: 0px;
				@include opacity(1);
			}

			.btn-content {
				left: 30px;
				@include opacity(0);
			}
		}
	}

	&.white {
		background-color: #fff;
		@include box-shadow(0px 2px 20px #ababab);
		//@include box-shadow(0px 2px 20px #f2f2f2);

		ul#menu {

			li {
				color: $grey-title;
			}

			#menu-mailto {
				a {
					color: $grey-title;

					#liseret {
						background-color: $grey-title;
					}
				}
			}
		}

		#logo-nav-white {
			display: none;
		}

		#logo-nav-black {
			display: block;
		}

		#nav-email {
			color: $grey-title;

			#nav-email-liseret {
				background-color: $grey-title;
			}
		}

		#btn-sign-up {
			color: $grey-title;
			width: 100px;
			//border: none;

			.btn-content-hover {
				display: none;
				@include transition(none);
			}

			.btn-content {
				color: $grey-title;
				@include border-radius(25px);
				@include opacity(1);
				@include transition(none);
			}

			&:hover {
				overflow: hidden;
				background-color: transparent;

				.btn-content-hover {
					display: none;
					left: 0px;
					@include opacity(0);
				}

				.btn-content {
					left: 0px;
					@include opacity(1);
				}
			}
		}

		#btn-download-sheet {
			color: $grey-title;
			width: 170px;
			border: none;
		}
	}
}

#part-1 {
	
	#part-1-content {
		//width: 50%;
		//width: 720px;
		margin: 0 auto;
		padding-top: 180px;
		text-align: center;

		.text {
			line-height: 30px;
			margin-top: 30px;
		}
	}

	#part-1-content-2 {
		margin-top: 100px;
		//margin-bottom: 100px;
		text-align: center;
		font-size: 13px;

		#text-1 {
			font-family: 'GTCinetypeTrialBold', sans-serif;
			letter-spacing: 2px;
			color: #000000;
		}

		#text-2 {
			font-family: 'GTCinetypeTrialRegularItalic', sans-serif;
			color: #62666a;
			margin-top: 30px;
			letter-spacing: 1px;

			b {
				font-family: 'GTCinetypeTrialBold', sans-serif;
			}
		}

		#text-3 {
			font-family: 'GTCinetypeTrialRegular', sans-serif;
			color: $grey-text;
			margin-top: 20px;
			line-height: 32px;
			letter-spacing: 1px;
		}
	}
}

#arrow-go-bottom {
	position: relative;
	width: 50%;
	height: 54px;
	margin: 0 auto;
	margin-top: 100px;

	#liseret {
		position: absolute;
		top: 50%;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $grey-liseret;
	}

	#btn {
		position: absolute;
		top: 0;
		left: 50%;
		width: 54px;
		height: 54px;
		margin-left: -27px;
		@include border-radius(50%);
		@include box-shadow(-3px 3px 12px $grey-text);
		background: url(../images/arrow.jpg) center 53% no-repeat;
		background-size: 15.5px 9px;
		background-color: #fff;
	}
}

#part-2 {
	position: relative;
	//background-image:linear-gradient(#fff, $grey-part-bg);
	//background-color: $grey-part-bg;
	margin-top: -27px;
	overflow: hidden;

	#part-2-laptop {
		position: absolute;
		top: 180px;
		right: 0;
	}

	#part-2-pen {
		position: absolute;
		top: 222px;
		left: 0;
	}
	
	#part-2-content {
		//width: 85%;
		//width: 1230px;
		margin: 0 auto;
		padding-top: 140px;
		//padding-bottom: 150px;

		#part-2-left {
			//width: 44%;
			//float: left;
			margin-left: 10%;



			#part-2-left-content-1 {
				//width: 73%;

				h2 {
					//width: 55%;
				}

				.text {
					margin-top: 45px;

					ul {
						list-style-type: disc;
						margin-left: 20px;

						li {
							line-height: 23px;
						}
					}
				}
			}

			#part-2-left-content-2 {
				//width: 87%;
				margin-top: 60px;
				//margin-left: 13%;
				margin-left: -10px;
				padding-left: 85px;
				background: url(../images/quote.png) left center no-repeat;
				background-size: 44px 44px;
				//height: 44px;
				width: 70%;

				#quote {
					font-size: 15px;
					color: $grey-title;
					font-style: italic;
					line-height: 23px;
				}

				#signature {
					font-size: 15px;
					color: #000000;
					margin-top: 8px;
					@include text-bold;
				}
			}
		}

		#part-2-right {
			position: absolute;
			top: 190px;
			right: 0;
			width: 46%;
			//float: left;

			img {
				margin-top: -30px;
			}
		}
	}
}

#part-3 {
	position: relative;
	margin-top: 220px;
	//padding-bottom: 210px;
	background-color: #fff;
	overflow: hidden;

	#part-3-ecouteurs {
		position: absolute;
		top: 120px;
		right: 0;
	}

	#part-3-book {
		position: absolute;
		top: -42px;
		left: 0;
	}

	#part-3-content {
		//width: 1230px;
		margin: 0 auto;

		#part-3-left {
			float: left;
			width: 53%;

			img {
				margin: 0 auto;
			}
		}

		#part-3-right {
			float: left;
			width: 47%;
			padding-top: 100px;

			#part-3-left-content {
				//width: 75%;
				margin: 0 auto;

				#support-choice {
					width: 100%;
					//height: 77px;

					.support {
						display: block;
						float: left;
						margin-left: 20px;

						&:first-child {
							margin-left: 0;
						}

						&#laptop {
							max-width: 97px;
						}

						&#desktop {
							max-width: 88px;
						}

						&#mobile {
							max-width: 26px;
						}
					}
				}

				h2 {
					margin-top: 50px;
				}

				.text {
					margin-top: 28px;
					line-height: 25px;

					p {
						margin-top: 20px;
					}
				}
			}
		}
	}
}

#part-4 {
	//background-color: $grey-part-bg-2;
	margin-top: 225px;
	padding-bottom: 180px;

	#part-4-content {
		//width: 1060px;
		margin: 0 auto;
		text-align: center;

		ul {
			position: relative;
			margin-top: 105px;

			#liseret {
				position: absolute;
				top: 120px;
				left: 5%;
				width: 90%;
				height: 1px;
				background: url(../images/liseret-points.jpg) center center repeat;
			}

			li {
				float: left;
				width: 33%;
				padding: 0 40px;

				.number {
					position: relative;
					width: 41px;
					height: 41px;
					margin: 0 auto;
					margin-top: 50px;
					margin-bottom: 50px;
					background-color: $grey-part-bg-2;

					.circle-1 {
						position: absolute;
						top: 0;
						left: 0;
						width: 41px;
						height: 41px;
						@include border-radius(50%);
						border: 1px solid $grey-circle-1;
					}

					.circle-2 {
						position: absolute;
						top: 4px;
						left: 4px;
						width: 33px;
						height: 33px;
						@include border-radius(50%);
						border: 1px solid $grey-circle-2;
					}

					.num {
						position: absolute;
						top: 0;
						left: 0;
						line-height: 41px;
						width: 100%;
						height: 100%;
						text-align: center;
						color: $grey-num;
						font-size: 11px;
						font-weight: bold; 
					}
				}

				.text {
					.text-1 {
						margin-top: 25px;
						line-height: 25px;
					}
				}
			}
		}
	}
}

#part-5 {
	position: relative;
	background-color: $blue-part-bg;

	#part-5-content {
		position: relative;
		//width: 1000px;
		margin: 0 auto;
		padding-top: 140px;
		padding-bottom: 135px;
		color: #fff;

		h3 {
			text-align: center;
			color: #fff;
		}

		.nav-testimonial {
			position: absolute;
			top: 50%;
			margin-top: -12px;
			cursor: pointer;
			width: 22px;
			height: 22px;
			@include transition(all 0.3s);

			img {
				position: absolute;
				top: 0;
			}

			.arrow-trait {
				position: absolute;
				top: 10px;
				width: 0px;
				height: 3px;
				background-color: #fff;
				@include transition(all 0.3s);
				@include border-radius(1px);
				@include opacity(0);
			}

			&.nav-left {
				left: -30px;

				img {
					left: 0;
				}

				.arrow-trait {
					left: 2px;
				}

				&:hover {
					left: -35px;

					.arrow-trait {
						@include opacity(1);
						width: 20px;
					}
				}
			}

			&.nav-right {
				right: -30px;

				img {
					right: 0;
				}

				.arrow-trait {
					right: 2px;
				}

				&:hover {
					right: -35px;

					.arrow-trait {
						@include opacity(1);
						width: 20px;
					}
				}
			}
		}

		#quotes {
			position: relative;
			text-align: center;
			width: 70%;
			margin: 0 auto;
			margin-top: 35px;
			height: auto;
			min-height: 200px;

			.elt {
				//position: relative;
				/*
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				*/

				.quote {
					padding: 35px 0;
					@include title(#fff);
					background: url(../images/liseret-quotes.jpg) bottom center no-repeat;
					background-size: 368px 11px;
				}

				.signature {
					margin-top: 50px;
					font-size: 15px;
				}
			}
		}
	}
}

#part-6 {
	padding-top: 165px;
	padding-bottom: 145px;

	#part-6-content {
		//width: 1230px;
		margin: 0 auto;

		#part-6-left {
			width: 50%;
			float: left;
			padding-left: 85px;
			padding-right: 50px;
		}

		#part-6-right {
			padding-left: 85px;
			width: 50%;
			float: left;
		}

		.part-6-title {
			position: relative;
			width: 100%;
			height: 75px;
			line-height: 75px;

			.number {
				position: absolute;
				top: 0;
				left: 25px;
				line-height: inherit;
				font-size: 75px;
				color: $grey-big-num;
				font-family: 'DSTypeLeituraDisplayRoman', serif;
			}

			h3 {
				position: relative;
				line-height: inherit;
				font-size: 17px;
				color: $grey-title;
			}
		}

		ul {
			list-style-type: disc;
			list-style-position: inside;

			li {
				margin-top: 28px;
				line-height: 25px;
			}
		}
	}	
}

#liseret-separation {
	//width: 1230px;
	height: 1px;
	margin: 0 auto;
	background-color: #e5e5e5;
	width: 40%;
}

#part-7 {

	#part-7-content {
		padding-top: 170px;
		padding-bottom: 170px;
		text-align: center;

		.text {
			margin-top: 45px;
			line-height: 28px;
		}
	}
}

#part-8 {
	background-color: $blue-part-bg;

	#part-8-content {
		padding-top: 220px;
		padding-bottom: 220px;
		text-align: center;

		img {
			margin: 0 auto;
		}

		#download-text {
			margin-top: 60px;
			font-size: 75px;
			color: #fff;
			font-family: 'DSTypeLeituraDisplayRoman', serif;
		}

		#btn-download {
			display: block;
			margin: 0 auto;
			margin-top: 85px;
			width: 233px;

			.btn-content-hover {
				//background-color: #fff;
				color: $blue-part-bg;
			}

			.btn-content {
				//background-color: transparent;
				color: #fff;
			}

			&:hover {
				overflow: hidden;
				background-color: #fff;

				.btn-content-hover {
					left: 0px;
					@include opacity(1);
				}

				.btn-content {
					left: 30px;
					@include opacity(0);
				}
			}
		}
	}
}

#part-9 {
	overflow: hidden;

	#part-9-content {
		//width: 1230px;
		padding-top: 145px;
		margin: 0 auto;

		#part-9-story {
			text-align: center;

			.text {
				margin-top: 45px;
				line-height: 27px;

				p {
					margin-top: 30px;
				}
			}
		}

		#part-9-persons {
			margin-top: 135px;

			.part-9-person {
				height: 432px;
				width: 100%;

				.portrait {
					position: relative;
					width: 50%;
					height: 100%;
					float: left;

					.portrait-bg {
						position: absolute;
						top: 0;
						background-color: $portrait-bg;
						width: 86%;
						height: 100%;
					}

					img {
						display: block;
						position: absolute;
						bottom: 0;
					}
				}

				.infos {
					position: relative;
					float: left;
					width: 50%;
					height: 100%;

					.infos-content {
						position: absolute;

						.name {
							font-size: 20px;
							color: #000000;
						}

						.status {
							font-size: 20px;
							color: #000000;
							margin-top: 12px;
						}

						ul {
							list-style-type: disc;
							margin-top: 35px;
							margin-left: 15px;

							li {
								//margin-top: 11px;
								line-height: 24px;
							}
						}

						a {
							position: relative;
							display: inline-block;
							margin-top: 48px;
							font-size: 14px;
							line-height: 20px;
							color: $grey-title;
							letter-spacing: 2px;
						}
					}					
				}

				&#part-9-person-1 {
					.portrait-bg {
						right: 0;
					}

					.infos-content {
						top: 48px;
						left: 75px;
					}

					img {
						right: 30px;
					}
				}

				&#part-9-person-2 {
					.portrait-bg {
						left: 0;
					}

					.infos-content {
						top: 115px;
						left: 150px;
						padding-right: 30px;
					}

					img {
						left: 175px;
					}
				}
			}
		}
	}
}

#part-10 {
	background-color: $portrait-bg;

	#part-10-content {
		width: 1009px;
		margin: 0 auto;
		padding-top: 195px;
		padding-bottom: 190px;

		#part-10-left {
			float: left;
			width: 50%;
			padding-left: 33px;
			padding-right: 105px;
		}

		#part-10-right {
			float: left;
			width: 50%;
			padding-left: 33px;
			padding-right: 105px;
		}

		.text {
			margin-top: 43px;
			line-height: 25px;
		}
	}
}

#part-11 {

	#part-11-content {
		padding-top: 190px;
		padding-bottom: 180px;
		text-align: center;

		#subtitle {
			font-size: 14px;
			text-transform: uppercase;
			color: $grey-text;
		}

		#title {
			margin-top: 15px;
			line-height: 50px;
			@include title($grey-title);
		}

		#contact {
			margin-top: 110px;

			#request-demo {
				display: inline-block;
				width: 195px;
				@include text-bold;

				.btn-content-hover {
					color: $grey-title;
					@include transition(all 0.3s);
				}

				.btn-content {
					color: #fff;
					@include border-radius(25px);
					@include opacity(1);
					@include transition(all 0.3s);
				}

				&:hover {
					overflow: hidden;
					background-color: #fff;
					border-color: $grey-button;

					.btn-content-hover {
						left: 0px;
						@include opacity(1);
					}

					.btn-content {
						left: 30px;
						@include opacity(0);
					}
				}
			}

			#email {
				display: inline-block;
				width: 195px;
				margin-left: 16px;
				@include text-bold;

				.btn-content-hover {
					color: #fff;
					@include transition(all 0.3s);
				}

				.btn-content {
					color: $grey-title;
					@include border-radius(25px);
					@include opacity(1);
					@include transition(all 0.3s);
				}

				&:hover {
					overflow: hidden;
					background-color: $blue-part-bg;
					border-color: $blue-part-bg;

					.btn-content-hover {
						left: 0px;
						@include opacity(1);
					}

					.btn-content {
						left: 30px;
						@include opacity(0);
					}
				}
			}

			#separation {
				display: inline-block;
				width: 1px;
				height: 86px;
				background-color: $grey-liseret-2;
				margin: 0 50px; 
				margin-bottom: -30px;
			}

			#phone {
				display: inline-block;
				padding-left: 42px;
				background: url(../images/phone.jpg) left center no-repeat;
				background-size: 16px 30px;
				font-size: 15px;
				text-align: left;

				#text {
					color: $grey-text;
				}

				#num {
					display: block;
					color: $grey-title;
					margin-top: 7px;
					@include text-bold;
				}
			}
		}
	}
}

footer {
	width: 100%;
	padding-top: 71px;
	padding-bottom: 207px;
	@include box-shadow(0px -2px 12px #f2f2f2);

	#logo-footer {
		display: block;
		margin: 0 auto;
	}

	ul {
		list-style: none;
		margin-top: 80px;
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			font-size: 13px;
			text-transform: uppercase;
			margin-left: 19px;
			@include text-bold-small;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	#copyright {
		margin-top: 25px;
		font-size: 12px;
		color: $grey-text;
		text-align: center;
		letter-spacing: 1px;

		a {
			color: $grey-text;

			&:hover {
				color: #000000;
			}
		}

	}
}

@media (max-width: 1540px) {
	#part-2 {

		#part-2-laptop {
			position: absolute;
			top: 180px;
			right: -100px;
		}

		#part-2-pen {
			position: absolute;
			top: 222px;
			left: 0;
		}
	}

	#part-3 {

		#part-3-ecouteurs {
			position: absolute;
			top: 120px;
			right: -60px;
		}

		#part-3-book {
			position: absolute;
			top: -42px;
			left: -100px;
		}
	}
}

@media (max-width: 1340px) {
	#part-2 {

		#part-2-laptop {
			position: absolute;
			top: 180px;
			right: -150px;
		}

		#part-2-pen {
			position: absolute;
			top: 222px;
			left: 0;
		}
	}

	#part-3 {

		#part-3-ecouteurs {
			display: none;
		}

		#part-3-book {
			display: none;
		}
	}
}

@media (max-width: 1330px) {
	#part-2 {

		#part-2-laptop {
			position: absolute;
			top: 180px;
			right: -150px;
		}

		#part-2-pen {
			position: absolute;
			top: 222px;
			left: -50px;
		}
	}

	#part-9 {

		#part-9-content {

			#part-9-persons {

				.part-9-person {

					&#part-9-person-2 {
						

						.infos-content {
							top: 75px;
							left: 50px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1170px) {
	#part-2 {

		#part-2-laptop {
			position: absolute;
			top: 180px;
			right: -300px;
		}

		#part-2-pen {
			position: absolute;
			top: 222px;
			left: -50px;
		}
	}
}