@media (max-width: 768px) {

	#header {

		#uikitex-parallax-responsive {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#header-content {

			#header-content-inner {
				position: absolute;
				bottom: 40px;
				left: 0;

				#title {
					color: #fff;
					@include title-big-responsive;
					line-height: 55px;
					width: 80%;
				}

				#subtitle {
					@include text-regular;
					line-height: 22px;
					width: 80%;
				}

				#header-buttons {
					margin-top: 30px;

					#btn-video {
						float: none;
					}

					#link-dl-sheet {
						float: none;
						margin-top: 15px;
						margin-left: 2px;

						#lisert-dl-sheet {
							top: 20px;
						}
					}
				}
			}
		}
	}
	
	#nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 65px;
		background-color: #fff;
		@include box-shadow(0px 2px 20px $grey-title);

		&.open {
			//@include box-shadow(0px 1px 12px transparent);
		}

		&.white {
			@include box-shadow(0px 2px 20px #ababab);
		}

		#logo-nav-responsive {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -14px;
			margin-left: -45px;
		}

		#btn-menu-responisve {
			position: absolute;
			top: 27px;
			right: 27px;
			cursor: pointer;
		}

		#menu-content-responsive {
			display: none;
			position: absolute;
			top: 65px;
			left: 0;
			width: 100%;
			background-color: #fff;

			ul#menu-responsive {
				position: relative;
				background-color: #fff;
				padding: 55px 0;

				li {
					display: block;
					text-align: center;
					margin-top: 55px;
					color: #000000;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			#menu-responisve-shadow {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50px;
				background-color: #fff;
				@include box-shadow(0px 2px 20px #ababab);
				//@include box-shadow(0px 2px 20px #f2f2f2);
				//@include box-shadow(0px 2px 20px #ababab);
			}
		}
	}

	#part-1 {
		
		#part-1-content {
			//width: 50%;
			//width: 720px;
			margin: 0 auto;
			padding-top: 80px;
			padding-bottom: 0;
			text-align: left;
		}

		#part-1-content-2 {
			margin-top: 50px;
			//margin-bottom: 100px;
			text-align: left;

			#text-2 {
				line-height: 28px;
			}
		}
	}


	#part-2 {
		margin-top: 125px;

		#part-2-content {
			padding-top: 90px;
			//padding-bottom: 90px;

			#part-2-left {
				width: 100%;
				float: none;
				margin-left: 0;

				#part-2-left-content-1 {
					width: 100%;

					h2 {
						width: 100%;
					}

					#subtitle {
						margin-bottom: 20px;
						color: $blue-part-bg;
						font-size: 12px;
						font-family: 'GTCinetypeTrialBold', sans-serif;
						text-transform: uppercase;
						letter-spacing: 2px;
					}

					.text {
						margin-top: 25px;

						ul {
							list-style-type: disc;
							margin-left: 20px;

							li {
								line-height: 23px;
							}
						}
					}
				}

				#part-2-left-content-2 {
					//width: 87%;
					margin-top: 32px;
					//margin-left: 13%;
					margin-left: 0;
					padding-left: 0;
					padding-right: 70px;
					background: url(../images/quote.png) right center no-repeat;
					background-size: 44px 44px;
					height: auto;
					width: 100%;

					#quote {
						font-size: 12px;
						color: $grey-title;
						font-style: italic;
						line-height: 20px;
					}

					#signature {
						margin-top: 0;
						@include text-bold-responsive;
						line-height: 20px;
					}
				}
			}
		}
	}

	
	#part-3 {
		//padding-top: 90px;
		margin-top: 90px;
		//padding-bottom: 70px;
		//background-color: $portrait-bg;

		#part-3-responsive-images {
			margin-bottom: 70px;
		}

		#part-3-content {
			//width: 1230px;
			margin: 0 auto;

			#part-3-left {
				float: none;
				width: 100%;

				img {
					margin: 0 auto;
				}
			}

			#part-3-right {
				float: none;
				width: 100%;
				padding-top: 0;

				#part-3-left-content {
					width: 100%;

					#support-choice {
						width: 100%;
						height: auto;
							text-align: center;

						.support {
							margin-left: 6%;
							display: inline-block;
							float: none;

							&#laptop {
								max-width: 97px;
							}

							&#desktop {
								max-width: 88px;
							}

							&#mobile {
								max-width: 26px;
							}
						}
					}
				}
			}
		}
	}

	#part-4 {
		background-color: $grey-part-bg-2;
		//padding-top: 60px;
		margin-top: 130px;
		padding-bottom: 90px;

		#part-4-content {
			//width: 1060px;
			margin: 0 auto;
			text-align: center;

			#liseret {
				display: none;
			}

			ul {
				position: relative;
				margin-top: 0;

				li {
					float: none;
					width: 100%;
					padding: 0 27px;
					margin-top: 90px;

					&.first {
						margin-top: 50px;

					}

					.number {
						width: 41px;
						height: 41px;
						margin-top: 33px;
						margin-bottom: 33px;

						.circle-1 {
							position: absolute;
							top: 0;
							left: 0;
							width: 41px;
							height: 41px;
							@include border-radius(50%);
							border: 1px solid $grey-circle-1;
						}

						.circle-2 {
							position: absolute;
							top: 4px;
							left: 4px;
							width: 33px;
							height: 33px;
							@include border-radius(50%);
							border: 1px solid $grey-circle-2;
						}

						.num {
							position: absolute;
							top: 0;
							left: 0;
							line-height: 41px;
							width: 100%;
							height: 100%;
							text-align: center;
							color: $grey-num;
							font-size: 11px;
							font-weight: bold; 
						}
					}

					.text {
						.text-1 {
							margin-top: 25px;
							line-height: 25px;
						}
					}
				}
			}
		}
	}

	#part-5 {

		#part-5-content {
			padding-top: 95px;
			padding-bottom: 90px;

			#part-5-nav-responsive {
				position: relative;
				width: 100px;
				height: 23px;
				margin: 0 auto;

				.nav-testimonial-responsive {
					position: absolute;
					top: 0;

					&.nav-left {
						left: 0;
					}

					&.nav-right {
						right: 0;
					}
				}
			}

			h3 {
				text-align: center;
				margin-top: 80px;
			}

			.nav-testimonial {
				position: absolute;
				top: 50%;
				margin-top: -12px;
				cursor: pointer;

				&.nav-left {
					left: -30px;
				}

				&.nav-right {
					right: -30px;
				}
			}

			#quotes {
				position: relative;
				text-align: center;
				width: 100%;
				margin: 0 auto;
				margin-top: 0;
				min-height: 200px;

				.elt {
					position: relative;
					/*
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					*/

					.quote {
						padding: 35px 0;
						@include title-responsive(#fff);
						background: url(../images/liseret-quotes.jpg) bottom center no-repeat;
						background-size: 368px 11px;
					}

					.signature {
						margin-top: 40px;
						font-size: 15px;
						line-height: 25px;
					}
				}
			}
		}
	}

	#part-6 {
		padding-top: 90px;
		padding-bottom: 85px;

		#part-6-content {
			//width: 1230px;
			margin: 0 auto;

			#part-6-left {
				width: 100%;
				float: none;
				padding-left: 0;
				padding-right: 0;
			}

			#part-6-right {
				padding-left: 0;
				width: 100%;
				float: none;
				margin-top: 70px;
			}

			.part-6-title {
				position: relative;
				width: 100%;
				height: 60px;
				line-height: 75px;
			}
		}	
	}

	#part-7 {
		
		#part-7-content {
			padding-top: 90px;
			padding-bottom: 0px;
			text-align: center;


			.text {
				margin-top: 45px;
				line-height: 28px;
			}
		}
	}

	#part-8 {
		padding-top: 90px;
		//padding-bottom: 110px;

		#part-8-content {

			img {
				margin: 0 auto;
			}

			#download-text {
				margin-top: 50px;
				font-size: 45px;
			}

			#btn-download {
				display: block;
				margin: 0 auto;
				margin-top: 50px;
				width: 233px;
			}
		}
	}

	#part-9 {
		//background-color: $portrait-bg;
		margin-top: 115px;
		padding-bottom: 30px;

		#part-9-content {
			//width: 1230px;
			padding-top: 0;
			padding-bottom: 0px;
			margin: 0 auto;

			#part-9-story {
				text-align: center;

				.text {
					margin-top: 45px;
					line-height: 27px;
				}
			}

			#part-9-persons-responsive {

				.part-9-person-responsive {
					margin-top: 45px;

					.portrait {

					}

					.infos {
						margin-top: 37px;
						text-align: left;
						text-transform: uppercase;
						@include text-bold-responsive;

						.name {
							color: #000000;
						}

						.status {
							color: $blue-part-bg;
							margin-top: 6px;
						}

						ul {
							list-style-type: disc;
							margin-top: 35px;
							margin-left: 15px;
							text-transform: none;
							font-size: 12px;

							li {
								//margin-top: 11px;
								line-height: 24px;
								text-align: left;
							}
						}

						a {
							position: relative;
							display: inline-block;
							margin-top: 20px;
							line-height: 20px;
							color: $grey-title;
							letter-spacing: 2px;
							text-transform: none;
							font-size: 12px;
							text-align: left;
						}
					}

					&#person-2-responsive {
						margin-top: 60px;

						.infos {
							text-align: right;
						}
					}
				}
			}
		}
	}

	#part-10 {
		background-color: #fff;

		#part-10-content {
			width: 80%;
			margin: 0 auto;
			padding-top: 90px;
			padding-bottom: 90px;

			#part-10-left {
				float: none;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}

			#part-10-right {
				float: none;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-top: 70px;
			}

			.text {
				margin-top: 43px;
				line-height: 25px;
			}
		}
	}

	#part-10-bis {
		background-color: $blue-part-bg;
		padding-top: 90px;
		padding-bottom: 90px;

		#contact-us-picto {
			display: block;
			margin: 0 auto;
		}

		#contact-text {
			color: #fff;
			margin-top: 50px;
			font-size: 45px;
			text-align: center;
			font-family: 'DSTypeLeituraDisplayRoman', serif;
		}

		#btn-contact {
			display: block;
			margin: 0 auto;
			margin-top: 50px;
			width: 233px;
			text-align: center;
		}
	}

	#part-11 {
		margin-top: 90px;

		#part-11-content {
			padding-top: 0px;
			padding-bottom: 80px;
			text-align: center;

			#subtitle {
				font-size: 14px;
				text-transform: uppercase;
				color: $grey-text;
			}

			#title {
				margin-top: 0;
				line-height: 50px;
				@include title-responsive($grey-title);
			}

			#contact {
				margin-top: 80px;

				#request-demo {
					display: block;
					width: 195px;
					@include text-bold;
					margin: 0 auto;
				}

				#email {
					display: block;
					width: 195px;
					margin-left: 0;
					margin: 0 auto;
					margin-top: 21px;
					@include text-bold;
				}

				#separation {
					display: none;
				}

				#phone {
					display: block;
					width: 195px;
					padding-left: 0px;
					padding-top: 45px;
					margin: 0 auto;
					margin-top: 45px;
					background: url(../images/phone.jpg) center top no-repeat;
					background-size: 21px 30px;
					font-size: 15px;
					text-align: center;

					#text {
						color: $grey-text;
					}

					#num {
						color: $grey-title;
						margin-top: 7px;
						@include text-bold;
					}
				}
			}
		}
	}

	footer {
		padding-top: 50px;
		padding-bottom: 150px;
		@include box-shadow(0px -1px 8px $grey-shadow-footer);

		#logo-footer {
			display: block;
			margin: 0 auto;
		}

		#copyright {
			margin-top: 45px;
			color: #cfd0d3;
		}
	}
}