.button {
	color: blue;
	border: 1px solid #fff;
	@include border-radius(25px);
	height: 50px;
	line-height: 50px;
}

.button-white {
	border-color: #fff;
	color: #fff;
}

.button-blue {
	border-color: $blue-part-bg;
	background-color: $blue-part-bg;
	color: #fff;
}

.button-grey {
	border-color: $grey-button;
	color: $grey-title;
}

.menu-lines-button {
	width: 15px;

	.line {
		margin-top: 3px;
		height: 2px;
		background-color: $grey-title;
		width: 100%;
		@include transition(all 0.3s);
		@include border-radius(1px);

		&:first-child {
			margin-top: 0;
		}
	}

	&.open {
		.line-1 {
			@include rotate(45deg);
			margin-top: 3px;
		}

		.line-2 {
			display: none;
		}

		.line-3 {
			@include rotate(-45deg);
			margin-top: -2px;
		}
	}
}

.btn-animate {
	position: relative;
	overflow: hidden;
	@include transition(all 0.3s);

	.btn-content-hover {
		position: absolute;
		top: 0;
		left: -30px;
		width: 100%;
		height: 100%;
		@include border-radius(25px);
		@include opacity(0);
		@include transition(all 0.3s);
	}

	.btn-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include border-radius(25px);
		@include opacity(1);
		@include transition(all 0.3s);
	}

	&:hover {

		.btn-content-hover {
			left: 0px;
			@include opacity(1);
		}

		.btn-content {
			left: 30px;
			@include opacity(0);
		}
	}
}