@media (max-width: 768px) {
	.desktop {
		display: none;
	}

	.responsive {
		display: block;
	}

	h2 {
		@include title-responsive($grey-title);
	}

	.text-1 {
		color: $grey-text;
		@include text-regular-small-responsive;
	}
}