*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: 'GTCinetypeTrialRegular', sans-serif;
}

.clear {
    clear: both;
}

.desktop {
    display: block;
}

.responsive {
    display: none;
}

/* Fonts */
h1 {

}

h2 {
	@include title($grey-title);
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	@include text-bold;
	letter-spacing: 2px;
}

.text-1 {
	color: $grey-text;
	@include text-regular-small;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	.liseret-anim {
		position: absolute;
		top: 22px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $grey-title;
		@include transition(all 0.3s)
	}

	&:hover {
		.liseret-anim {
			left: 40%;
			width: 20%;
			height: 3px;
		}
	}
}