@font-face {
    font-family: 'DSTypeLeituraDisplayRoman';
    src: url('../fonts/DSTypeLeituraDisplayRoman.eot');
    src: url('../fonts/DSTypeLeituraDisplayRoman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DSTypeLeituraDisplayRoman.woff') format('woff'),
         url('../fonts/DSTypeLeituraDisplayRoman.ttf') format('truetype'),
         url('../fonts/DSTypeLeituraDisplayRoman.svg#DSTypeLeituraDisplayRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTCinetypeTrialBold';
    src: url('../fonts/GTCinetypeTrialBold.eot');
    src: url('../fonts/GTCinetypeTrialBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GTCinetypeTrialBold.woff') format('woff'),
         url('../fonts/GTCinetypeTrialBold.ttf') format('truetype'),
         url('../fonts/GTCinetypeTrialBold.svg#GTCinetypeTrialBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTCinetypeTrialRegular';
    src: url('../fonts/GTCinetypeTrialRegular.eot');
    src: url('../fonts/GTCinetypeTrialRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GTCinetypeTrialRegular.woff') format('woff'),
         url('../fonts/GTCinetypeTrialRegular.ttf') format('truetype'),
         url('../fonts/GTCinetypeTrialRegular.svg#GTCinetypeTrialRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTCinetypeTrialRegularItalic';
    src: url('../fonts/GTCinetypeTrialRegularItalic.eot');
    src: url('../fonts/GTCinetypeTrialRegularItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GTCinetypeTrialRegularItalic.woff') format('woff'),
         url('../fonts/GTCinetypeTrialRegularItalic.ttf') format('truetype'),
         url('../fonts/GTCinetypeTrialRegularItalic.svg#GTCinetypeTrialRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}